{% extends 'base.html.twig' %}

{% block body %}


<table>
	<tr>
		<th>Nom</th>
		<th> Téléphone </th>
	</tr>
    {% for restaurateur in ListeRestaurateurs %}
       <tr>
       		<td> {{restaurateur.prenom}}   </td>
			<td> {{restaurateur.nom}}   </td>
			<td><a href="{{path("edit_restaurateur",{'id':restaurateur.idRestaurateur})}}">{{ 'edit' | trans}}</a></td>
			<td><a href="{{path("delete_restaurateur",{'id':restaurateur.idRestaurateur})}}">{{'delete'| trans}}</a></td>
       </tr>

    {% endfor %}
</table>
{% endblock %}
