{% if error %}
    <div>{{ error.messageKey|trans(error.messageData) }}</div>
{% endif %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	Logged in as {{ app.user.username }}</br>
	{% if is_granted('ROLE_USER') %}
	<a href="{{ path('edit_client') }}"> modifier client </a>
	{% endif %}
	<a href="{{ path('logout') }}">logout</a>
{% else %}
	<form action="{{ path('login_check') }}" method="post">
		<label for="username">Username:</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}" />
	
		<label for="password">Password:</label>
		<input type="password" id="password" name="_password" />
		<button type="submit">login</button>
	</form>
{% endif %}