{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form) }}
<table>
    <tr>
		<th> Item </th>
		<th> Prix </th>
		<th> Quantite </th>
	</tr>
	{% for item in items %}
	<tr>
	</tr>
		<td> {{ form_row(form.name, {'label': 'item.nom'}) }} </td>
		<td> {{ item.prix }} </td>
		<td> <input> </input> </td>
	</tr>

		{% endfor %}
{{ form_widget(form) }}
{{ form_end(form) }}
</table>

{% endblock %}
