{% extends 'base.html.twig' %}

{% block style %}
{% endblock %}

{% block body %}
<div style="float:left">
	{{restaurant.nom}}
	<form name='commande' id='commande' method='POST' action="{{ path("soumettre_commande")}}">
		<table>
		    <tr>
				<th> Item </th>
				<th> Prix($) </th>
				<th> Quantite </th>
			</tr>
			{% for item in lignescommande %}
				<tr>
					<td> {{ item.nom }} <input value="{{item.quantite}}" name="{{item.id}}" type="hidden"/></td>
					<td> {{ item.prix }} </td>
					<td> {{ item.quantite }}</td>
				</tr>
			{% endfor %}
		</table>
		<h3> Total de la commande : {{prix}} $</h3>
		<label> Date de livraison : </label><input type="date" min="2015-03-30" max="2015-12-30" name="dateLivraison"><br>
		<label> Heure de livraison : </label><input type="time" name="heureLivraison"><br>
		<input id="adresse" value="" name="adresse" type="hidden"/>
		<input id="restaurant" value="{{restaurant.idRestaurant}}" name="restaurant" type="hidden"/>
		<input type="submit" value="Confirmer la commande ">
	</form>
</div>
<div style="float:right">
	<h4> Adresse de livraison </h4>
	{{ render(controller('AppBundle:Adresse:Widget',{'allow_add':true}))}}
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}