{% extends 'base.html.twig' %}
{% block style %}
	<style>
		#map-container {
			float:left;
			width:40%;
			height: 0;
			margin: 0px;
			padding: 0px
		}
		#list-commandes{
			float:right;
			text-align:left;
			width:60%;
		}
	</style>
{% endblock %}
{% block body %}
	<div id="map-container" >
		
	</div>
	<div id="list-commandes">
		<table>
  			<tr>
  				<th> Restaurant </th>
				<th> Destination </th>
				<th> Date </th>
				<th> Distance </th>
			</tr>
		{% for commande in listeCommandes %}
			<tr data-diriections="{{commande.directions}}" onclick="displayRoute(this);">
				<td> {{commande.info.restaurant.nom}} </td>
				<td> {{commande.info.getAdresse.toString }} </td>
   				<td> {{commande.info.dateLivraison | date('Y-m-d')}} </td>
   				<td> {{commande.distance}} km </td>
   			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
	<script>
		var directionsMap;
		var map;
		function initialize() {
			directionsMap = new google.maps.DirectionsRenderer();
			var montreal = new google.maps.LatLng(45.5017, -73.5673);
			map = new google.maps.Map(document.getElementById('map-container'), {zoom: 12,center: montreal});
			directionsMap.setMap(map);
		}

		function displayRoute(commandRow) {
			var directions = commandRow.getAttribute('data-diriections');
			directions = JSON.parse(directions);
			var directionsService = new google.maps.DirectionsService();
			var request = {
						origin: "377 des seigneurs, Montreal, h3j0a9",
						destination: "140 Beaumont Ouest, Saint-Bruno, j3v6h9",
						durationInTraffic: true,
						travelMode: google.maps.TravelMode.DRIVING,
						waypoints: 
						[{
							location:"1100 Rue Notre-Dame Ouest, Montreal, Quebec h3c1k3",
							stopover:true
						}],
						provideRouteAlternatives: false,
						avoidHighways: false,
						avoidTolls: true,
						region: "CA"
					};
			directionsService.route(request, function(response, status) {
				if (status == google.maps.DirectionsStatus.OK) {
					directionsMap.setDirections(response);
				}
			});
			/*var directions = commandRow.getAttribute('data-diriections');
			directions = JSON.parse(directions);
			console.log(directions);
			directionsMap.setDirections(directions.routes);*/
		}
		$('document').ready(function(){
				initialize();
				$('#map-container').css({'height':$('#map-container').width()});
			});
	</script>
{% endblock %}