{% extends 'base.html.twig' %}
{% block style %}
	<style>
		#map-container {
			float:left;
			width:40%;
			height: 0;
			margin: 0px;
			padding: 0px
		}
		#list-commandes{
			float:right;
			width:60%;
		}
		.hover {
			background-color:#B2B2B2;
		}
		.selected {
			background-color:#FFFFFF;
		}
	</style>
{% endblock %}
{% block body %}
	<div id="map-container" >
		
	</div>
	<div id="list-commandes">
		<table>
  			<tr>
  				<th> Restaurant </th>
				<th> Destination </th>
				<th> Date </th>
				<th> Distance </th>
				<th> Duration </th>
			</tr>
		{% for commande in listeCommandes %}
			<tr id="commande-{{commande.info.idCommande}}" data-adresse-restaurant="{{commande.info.restaurant.adresse}}">
				<td> {{commande.info.restaurant.nom}} </td>
				<td name='adresse-client'>{{commande.info.getAdresse.toString}}</td>
   				<td> {{commande.info.dateLivraison | date('Y-m-d')}} </td>
   				<td> {{commande.distance}} km </td>
   				<td> {{commande.duration}}</td>
   			</tr>
		{% endfor %}
		</table>
		<div><button id="accepterCommande" disabled="disabled">Accepter la commande</button></div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script>
		var directionsMap;
		var directionsService = new google.maps.DirectionsService();
		var map;
		var selectedCommande;
		function initialize() {
			directionsMap = new google.maps.DirectionsRenderer();
			var montreal = new google.maps.LatLng(45.5017, -73.5673);
			map = new google.maps.Map(document.getElementById('map-container'), {zoom: 12,center: montreal});
			directionsMap.setMap(map);
		}

		function displayRoute(adresseClient, adresseResto) {
			var request = {
						origin: "{{adresseLivreur}}",
						destination: adresseClient,
						durationInTraffic: true,
						travelMode: google.maps.TravelMode.DRIVING,
						waypoints: 
						[{
							location: adresseResto,
							stopover:true
						}],
						provideRouteAlternatives: false,
						avoidHighways: false,
						avoidTolls: true,
						region: "CA"
					};
			directionsService.route(request, function(response, status) {
				if (status == google.maps.DirectionsStatus.OK) {
					directionsMap.setDirections(response);
				}
			});
		}
		$('document').ready(function(){
			initialize();
			$('#map-container').css({'height':$('#map-container').width()});
			$("tr[id|='commande']").hover(
				function(){ $(this).addClass('hover') },
				function(){ $(this).removeClass('hover') }
			);
			$("tr[id|='commande']").each(function() {
				$(this).click(function(e) {
					$("tr[id|='commande']").removeClass('selected');
					$(this).addClass('selected');
			        var adresseClient = $(this).find("td[name='adresse-client']").html();
			        var adresseResto = $(this).attr("data-adresse-restaurant");
			        displayRoute(adresseClient, adresseResto);
			        selectedCommande = $(this).attr('id').split("-")[1];
			        $("button#accepterCommande").prop('disabled', false);
			    });
			});
			$("button#accepterCommande").click(function(){
				window.location.href = "/Commande/Accepter/"+selectedCommande;
			});
		});
	</script>
{% endblock %}