<header>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<div id="titre">
		<h1> GIMMEE FOOOOOD </h1> 
	</div>
	<div id="login">
		{{ render(controller('AppBundle:Security:login')) }}
	</div>
	<ul class="lang-menu">
		 <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">Francais</a></li>
		 <li><a href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'}))}}">English</a></li>
	</ul>
	<div class="clearboth"></div>
</header>
<div class="menu">
	{% if is_granted('ROLE_ENT') %}
		<a href="{{ path('register_restaurateur') }}">  {{ 'ajouter_restaurateur'| trans}} </a>
		<a href="{{ path('show_restaurateurs') }}">  {{ 'modifier_restaurateur'| trans}}  </a>
		<a href="{{ path('ajouter_restaurant') }}">  {{ 'ajouter_restaurant'| trans}} </a>
		<a href="{{ path('show_restaurants') }}">  {{ 'modifier_restaurant'| trans}}  </a>
	{% elseif is_granted('ROLE_REST') %}
		<a href="{{ path('show_menu') }}">Menu </a> 
		<a href="{{ path('show_commande') }}"> Préparer une commande </a> 
	{% elseif is_granted('ROLE_USER') %}
		<a href="{{ path('edit_client') }}"> Modifier client </a>
		<a href="{{ path('choisir_resto') }}"> Passer commande </a>
	{% else %}
		<a href="{{ path('client_registration') }}"> {{ 'inscription'| trans}} </a>
	{% endif %}
</div>