{{ render(controller('AppBundle:Security:login')) }}

{% if is_granted('ROLE_ENT') %}
	<a href="{{ path('register_restaurateur') }}"> Ajouter restaurateur </a>
	<a href="{{ path('edit_client') }}"> Modifier restaurateurs (NOT DONE YET) </a>
	<a href="{{ path('register_restaurant') }}"> Ajouter restaurant </a>
	<a href="{{ path('edit_restaurant') }}"> Modifiez restaurant (NOT DONE YET) </a>
{% elseif is_granted('ROLE_REST') %}
	<a href="{{ path('edit_restaurateur') }}"> Modifier restaurateur (NOT DONE YET) </a>
{% elseif is_granted('ROLE_USER') %}
	<a href="{{ path('edit_client') }}"> Modifier client </a>
{% else %}
	<a href="{{ path('client_registration') }}"> Inscrivez-vous!!!! :D </a>
{% endif %}