{% extends 'base.html.twig' %}

{% block body %}


	{% for restaurant in restaurant %}
       	<h2> {{restaurant.nom}} </h2>
       	{% if menu is defined %}
       		{% for menu in menu %}
    	   		<h3> {{menu.nom}} </h3>
    	  		<table>
    	  			<tr>
						<th>Nom</th>
						<th> Prix </th>
						<th>Description </th>
					</tr>
    			{% for item in items %}
	    			<tr>
	       				<td> {{item.nom}}   </td>
	       				<td> {{item.prix}}   </td>
						<td> {{item.description}}   </td>
	       			</tr>
    			{% endfor %}
    			</table>
    			<a href="{{path('ajouter_item',{'id':menu.idMenu})}}"> Ajouter un item </a>
    		{% endfor %}
    		{% if menu is empty %}
       				<a href="{{path('creer_menu')}}"> Créer le menu </a>
   			{% endif %}
   		{% endif %}
     {% endfor %}
{% endblock %}
