<table id="liste-adresses">
    {% for adresse in ListeAdresses %}
       <tr id="adresse-{{adresse.idAdresse}}">
       		{% if selectable is defined %}
				<td><input id='select-adresse-{{adresse.idAdresse}}' type="radio" name="adresse" value="{{adresse.idAdresse}}"/></td>
			{% endif %}
       		<td> {{adresse.numero}} {{adresse.rue}}, {{adresse.ville}} {{adresse.codePostal}}</td>
       		{% if ListeAdresses.count > 1 %}
				<td><a href="#" id="delete-{{adresse.idAdresse}}" name="{{adresse.idAdresse}}">{{'delete' | trans}}</a></td>
			{% endif %}
       </tr>
    {% endfor %}
</table>
<script>
	var $adressesTable;
	var $deleteLink;
	var $adresseId;
	var $addLink;

	jQuery(document).ready(function() 
	{
	    $adressesTable = $('table#liste-adresses');
	    $adressesTable.find('tr').each(function (i, row)
		{
			var $row = $(row);
		    $deleteLink = $row.find("a[id|='delete']");
		    $deleteLink.on('click', function(e) 
		    {
		    	var $link = $(this);
		    	$link.prop("onclick", null);
		        e.preventDefault();
		        $.ajax({
					method: "POST",
					url: "{{path('delete_adresse')}}",
					data: { id: $link.attr('name') },
					success: function(data) 
					{ 
						$("div#list-adress-block").load("{{url('show_adresses')}}");
	                }
				})
		    });
		});
	});
</script>
