<table id="client_adresses">
    {% for adresse in ListeAdresses %}
       <tr id="adresse-{{adresse.idAdresse}}">
       		<td> {{adresse.numero}} {{adresse.rue}}, {{adresse.ville}} {{adresse.codePostal}}</td>

			<td><a href="#" id="delete-{{adresse.idAdresse}}" name="{{adresse.idAdresse}}">{{'delete' | trans}}</a></td>

       </tr>
    {% endfor %}
</table>

<script>
	var $adressesTable;
	var $deleteLink;
	var $adresseId;
	var $addLink;

	jQuery(document).ready(function() 
	{
	    $adressesTable = $('table#client_adresses');
	    $adressesTable.find('tr').each(function (i, row)
		{
			var $row = $(row);
		    $deleteLink = $row.find("a[id|='delete']");
		    $deleteLink.on('click', function(e) 
		    {
		    	var $link = $(this);
		        e.preventDefault();
		        
		        $.ajax({
					method: "POST",
					url: "{{path("delete_adresse")}}",
					data: { id: $link.attr('name') },
					success: function(data) 
					{ 
						$link.closest('tr').remove();
	                }
				})
		    });
		});
	});
</script>