<style>
	.hover {
		background-color:#B2B2B2;
	}
	.selected {
		background-color:#FFFFFF;
	}
</style>
<table id="liste-adresses">
    {% for adresse in ListeAdresses %}
       <tr id="adresse-{{adresse.idAdresse}}">
       		<td> {{adresse.numero}} {{adresse.rue}}, {{adresse.ville}} {{adresse.codePostal}}</td>
       		{% if ListeAdresses.count > 1 %}
				<td><a href="#" id="delete-{{adresse.idAdresse}}" name="{{adresse.idAdresse}}">{{'delete' | trans}}</a></td>
			{% endif %}
       </tr>
    {% endfor %}
</table>
<script>
	var $adressesTable;

	jQuery(document).ready(function() 
	{
	    $adressesTable = $('table#liste-adresses');
	    $adressesTable.find('tr').each(function (i, row)
		{
			{% if allow_select %}
				$("tr[id|='adresse']").hover(
					function(){ $(this).addClass('hover') },
					function(){ $(this).removeClass('hover') }
				);
				$("tr[id|='adresse']").click(function() {
					$("tr[id|='adresse']").removeClass('selected');
					$(this).addClass('selected');
					$("input#adresse").val($(this).attr('id').split("-")[1]);
				});
				$("tr[id|='adresse']:first").click();
			{% endif %}
			console.log($("a[id|='delete']"));
		});
		$("a[id|='delete']").each(function() {
			$(this).click(function(e) {
		    	var $link = $(this);
		    	$link.prop("onclick", null);
		        e.preventDefault();
		        $.ajax({
					method: "POST",
					url: "{{path('delete_adresse')}}",
					data: { id: $link.attr('name') },
					success: function(data) 
					{
						{%if allow_select %}
							var allow_select = true;
						{% else %}
							var allow_select = false;
						{% endif %}
						$("div#list-adress-block").load("{{url('show_adresses')}}",{allow_select:allow_select});
	                }
				});
		    });
		});
	});
</script>
